/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

 */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.hero__section {
  background-image: url(./assets/splash.jpg);
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: White;

  text-align: center;
}

.cta {
  color: white;
  background-color: rgb(54, 54, 105);
  border: none;
  width: 130px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15%;
}

.cta:hover {
  background-color: rgb(103, 103, 192);
  transition: all 0.5s ease;
}

.digital {
  background-color: rgb(54, 54, 105);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5%;
  z-index: -1;
  width: 80vw;
  color: white;
}

.stories {
  margin-top: 5%;
  text-align: center;
}

.stories h2 {
  font-weight: 200;
}
